.container {
  padding: 16px;
  margin: 16px;
  border-radius: 5px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 38, 1) 77%,
    rgba(121, 9, 38, 1) 92%
  );
}
