<div class="ion-page">
  <ion-header>
    <ess-header></ess-header>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-page">
    <ion-img
      [src]="'https://docs-demo.ionic.io/assets/madison.jpg'"
      loading="lazy"
    ></ion-img>
    <div>
      <ion-item lines="none">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://docs-demo.ionic.io/assets/madison.jpg" />
        </ion-avatar>
        <ion-label>
          <h2>Barberías Rand: Belén La Palma</h2>
          <p>Cra 81 A # 27A - 15 ~ 1.2km</p>
        </ion-label>
      </ion-item>
      <ess-marketplace></ess-marketplace>
    </div>
  </ion-content>
</div>
